@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewData["Title"] = "Main Dashboard";
}



<div class="row">
    

   
    <div class="col-md-6">


        <ul class="list-group">

            <li class="list-group-item">



                <a class="nav-link" style="color: darkcyan;" asp-area="" asp-controller="FeedBack" asp-action="Index">FeedBack</a>
            </li>
        </ul>

    </div>
    
    <div class="col-md-6">


        <ul class="list-group">
            <li class="list-group-item">

                <a class="nav-link" style="color:darkcyan;" asp-area="" asp-controller="Material" asp-action="Index">Material</a>
            </li>
        </ul>
    </div>

    <div class="col-md-6">


        <ul class="list-group">
            <li class="list-group-item">

                <a class="nav-link" style="color: darkcyan;" asp-area="" asp-controller="Course" asp-action="Index"> Course </a>

            </li>
        </ul>
    </div>


</div>

